@charset UTF-8;
/*
Styles for WeatherStations 

Author: Thomas Arend
Date: 06.09.2022
Version 0.1.1
*/

.page-header {
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 40em) {
.page-header {
    flex-direction: row;
  }
}

table {
  font-family: monospace;
  border : 2px solid blue;
  min-width: 600px;
  
}

tr:nth-of-type(even) td {

    background-color: #cccccc;

}

tr:nth-of-type(odd) td {
  
  background-color: #ffffff;
}

td {
  
  padding : 0.2em;
  margin: 0.3em
  
}

td.value {
    
    text-align: center;
    
}

.container {

    display: flex;
    flex-wrap: wrap;
    width: 100%
    height: 100%;

}

 
.chart {

    min-width: 660px;
    min-height: 380px;
    align-content: center;
    border: 1px solid;
	margin: .1em;
	padding: .5em;
	background: #fff;

}

.chart:nth-of-type(odd) {

	background: #eee;

}

.chart:nth-of-type(even) {

	background: #ddd;

}

.diagram {
    
    min-width: 640px;
    min-height: 360px;
    align-items: center;
    justify-content: center;
}

img {

    object-fit: cover;
    width: 660px;
    height: 360px;
    align-items: center;
    justify-content: center;

}
