<?php
/**
 * solardb.php
 *
 * @package default
 */


/*
 * Autor: Thomas Arend
 * Stand: 2023-07-16
 *
 * Better quick and dirty than perfect but never!
 *
 * Security token to detect direct calls of included libraries. 
 *
 * Change password below and rename to solardb.php.
 *
 */

defined( 'ABSPATH' ) or die( 'No script kiddies please!' );

/*
 * The user weather needs insert, update and read access to the database
 */

$dbhost = "localhost";          /* Change here when you don't use a locol server */
$dbname = "solar";    /* Change database name here; Maybe your provider assigns a dbname */
$dbuser = "solar";            /* Change user here */
$dbpass = "change-passord";            /* Change password !!! */

$mysqli = new mysqli($dbhost, $dbuser, $dbpass, $dbname) or die();

?>
